In [17]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("C:\FALL SEMESTER 2022\Healthcare Info (Dominic Thomas)\medicine new.csv")
df2 = pd.read_csv("C:\FALL SEMESTER 2022\Healthcare Info (Dominic Thomas)\diaognosis.xlsx.csv")
df3 = pd.read_csv("C:\FALL SEMESTER 2022\Healthcare Info (Dominic Thomas)\symptoms.xlsx.csv")

In [18]:
df1

,Medicine_ID,Medicine_Name,Medicine_Description,Unnamed: 3
0,1001.0,Ibuprofen 200 mg,Pain/Fever Reliever,NaN
1,1002.0,Acetaminophen 325mg,Pain/Fever Reliever,NaN
2,1003.0,Pediatric Acetaminophen 2.6g,Pain/Fever Reliever,NaN
3,1004.0,Naxproxen 200mg,Pain/Fever Reliever,NaN
4,1005.0,Aspirin 81 mg EC,Pain/Fever Reliever,NaN
...,...,...,...,...
105,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN

In [19]:
df2

,Possible_Diagnosis,PD_ID,Results_ID,Symptom_Match,OTC_Match,MATCH_ID,See_Doctor
0,Common Cold,100,300,"1,2,3",1011 OR 1012 OR 1014,A,NO
1,Common Cold,100,301,"1, 4",1011 OR 1014,B,NO
2,Common Cold,100,302,"5,7,8",1013 OR 1026,C,NO
3,Common Cold,100,303,"1, 15, 16",1027 OR 1028 OR 1029 OR 1030 OR 1031,D,NO
4,Common Cold,100,304,"2, 3, 4",1011 OR 1012 OR 1013,E,NO
5,Common Cold,100,305,"5, 7, 19",1017 + 1001 OR 1026,F,NO
6,Covid-19,200,400,"9, 11, 12, 13",1036 + 1043 OR 1037 + 1043,G,YES
7,Covid-19,200,401,"9, 13, 14, 18",1036 OR 1037,H,YES
8,Covid-19,200,402,"5, 9, 14, 17, 18",1002 OR 1036 OR 1037,I,YES

In [12]:
df3

    Symptom ID                 Symptom  Unnamed: 2  Unnamed: 3
0            1              Runny nose         NaN         NaN
1            2         Scratchy throat         NaN         NaN
2            3                Sneezing         NaN         NaN
3            4            Watery Eyes          NaN         NaN
4            5               Headache          NaN         NaN
5            6                Fatigue          NaN         NaN
6            7              Congestion         NaN         NaN
7            8        Low-grade fever          NaN         NaN
8            9            Fever (100+)         NaN         NaN
9           10               Diarreah          NaN         NaN
10          11                  Nausea         NaN         NaN
11          12                Vomiting         NaN         NaN
12          13  Loss of smell or taste         NaN         NaN
13          14             Body aches          NaN         NaN
14          15            Sore throat          NaN         NaN
15          16                  Cough          NaN         NaN
16          17                  Chills         NaN         NaN
17          18     Shortness of breath         NaN         NaN
18          19          Sinus pressure         NaN         NaN

In [15]:
project = pd.merge (df1, df3)

In [16]:
project

,Medicine_ID,Medicine_Name,Medicine_Description,Unnamed: 3,Symptom ID,Symptom,Unnamed: 2
0,1001.0,Ibuprofen 200 mg,Pain/Fever Reliever,NaN,1,Runny nose,NaN
1,1001.0,Ibuprofen 200 mg,Pain/Fever Reliever,NaN,2,Scratchy throat,NaN
2,1001.0,Ibuprofen 200 mg,Pain/Fever Reliever,NaN,3,Sneezing,NaN
3,1001.0,Ibuprofen 200 mg,Pain/Fever Reliever,NaN,4,Watery Eyes,NaN
4,1001.0,Ibuprofen 200 mg,Pain/Fever Reliever,NaN,5,Headache,NaN
...,...,...,...,...,...,...,...
2085,NaN,NaN,NaN,NaN,15,Sore throat,NaN
2086,NaN,NaN,NaN,NaN,16,Cough,NaN
2087,NaN,NaN,NaN,NaN,17,Chills,NaN
2088,NaN,NaN,NaN,NaN,18,Shortness of breath,NaN
2089,NaN,NaN,NaN,NaN,19,Sinus pressure,NaN